<html lang="en">

<head>
  {{>header}}
</head>

<body>
  <div class="div mt-1">
    <div class="col col-md-8 mx-auto">

      <p> <a href="/api/company" class="btn btn-primary btn-sm w-25 ">Companies</a>
        <button class="btn btn-primary btn-sm w-25" type="button" data-bs-toggle="collapse"
          data-bs-target="#addCategoryForm" aria-expanded="false" aria-controls="collapseExample">
          Add A Category
        </button>
      </p>
      {{!-- modal From for adding category --}}
      <div class="collapse" id="addCategoryForm">
        <div class="card card-body">
          <form action="/api/category/add-new" method="post">
            <label for="title">Title for category</label>
            <input type="text" placeholder="Tittle for Category" name="title" class="form-control" id="title">
            <button type="submit" class="btn btn-sm btn-success mt-1">Submit</button>
          </form>
        </div>
      </div>{{!-- Modal --}}
      <h5 class="text-secondary text-center"> {{message}} </h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
          <tr>
            <td> {{this.title}} </td>
            <td>
              <p>
                <a href="/api/category/{{this.id}}" class="btn btn-success btn-sm">Details</a>
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse"
                  data-bs-target="#editCategoryForm" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa fa-pencil"></i>
                </button>
                <a href="/category/edit/{{this.id}}?" class="btn btn-danger"
                  onclick="return confirm('Are you sure you want to delete this item')"><i class="fa fa-trash"></i></a>
              </p>
              {{!-- modal From for adding category --}}
              <div class="collapse" id="editCategoryForm">
                <div class="card card-body">
                  <form action="/category/edit/{{this.id}}?action=edit" method="post">
                    <label for="title">Title for category</label>
                    <input type="text" placeholder="Tittle for Category" name="title" value="{{this.title}}"
                      class="form-control" id="title">
                    <input type="hidden" name="_method" value="put" />
                    <button type="submit" class="btn btn-sm btn-success mt-1">Update</button>
                  </form>
                </div>
              </div>{{!-- Modal --}}
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>





  {{>footer}}
</body>

</html>